@page
@model TraumaRegistryAdmin.Pages.ReferenceDetails.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>@Model.ReferenceDetail[0].Reference.Name</h1>

 
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReferenceDetail[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReferenceDetail[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReferenceDetail[0].Description)
            </th>

            <th style="text-align: right">
                <a asp-page="/References/Index" class="btn btn-primary">Back</a>
                <a asp-page="Create" class="btn btn-primary">Create New</a>
            </th>

        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.ReferenceDetail)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

                <td style="text-align: right">
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
