@page "/addedituser"
@page "/addedituser/{email}"
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IEmailHelper emailClient
@inject IMatToaster Toaster
@inject ISecurity security



<AuthorizeView Context="AuthorizedContext" Policy="SystemAdminstrator">
    <Authorized>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <h3><MatIcon>people</MatIcon>@pageHeader</h3>

                    <EditForm Model="@user" OnValidSubmit="@validateForm">
                        <DataAnnotationsValidator />
                        <p>
                            <MatTextField id="patientEmail" Label="E-mail" FullWidth="true" @bind-Value=@user.EmailAddress />
                            <ValidationMessage For="@(() => user.EmailAddress)" />
                        </p>
                        <p>
                            <MatTextField id="patientFirstName" Label="First Name" FullWidth="true" @bind-Value=@user.FirstName />
                            <ValidationMessage For="@(() => user.FirstName)" />
                        </p>
                        <p>
                            <MatTextField id="patientLastName" Label="Last Name" FullWidth="true" @bind-Value=@user.LastName />
                            <ValidationMessage For="@(() => user.LastName)" />
                        </p>
                        <p>
                            <MatCheckbox @bind-Value=@user.SystemAdministrator Label="System Administrator"></MatCheckbox>
                        </p>
                    </EditForm>
                        <MatButton type="submit" Icon="save">Save</MatButton>

                        <MatButton Icon="cancel" @onclick="@(() => cancel())">Cancel</MatButton>
                </div>
            </div>
        </div>
    </Authorized>

    <NotAuthorized>
        <RedirectToError />
    </NotAuthorized>

</AuthorizeView>



@code {
    [Parameter]
    public string email { get; set; }

    int genderId;
    int raceId;
    _dtoUser user = new _dtoUser();
    bool success = false;
    string mode = "add";
    string pageHeader = "Add Patient";
    UsersClient client = new UsersClient();
    [CascadingParameter] Task<AuthenticationState> authenticationStateTask { get; set; }

    int SelectedGenderId { get; set; } = 0;
    int SelectedRaceId { get; set; } = 0;

    string genderIdStr { get; set; }
    string raceIdStr { get; set; }


    RefTableDTO RefSexTable = new RefTableDTO();
    RefTableDTO refRaceTable = new RefTableDTO();

    protected override async Task OnInitializedAsync()
    {

    }

    protected override async Task OnParametersSetAsync()
    {
        if (!string.IsNullOrEmpty(email))
        {
            mode = "edit";
            pageHeader = "Edit User";
            user = await client.GetUserByEmailAddressAsync(email);

        }
        else
        {
            mode = "add";
            pageHeader = "Add New User";
        }
    }

    void cancel()
    {
        NavigationManager.NavigateTo("/Users");
    }

    async Task saveUser()
    {
        try
        {
            var currentuser = (await authenticationStateTask).User;
            UsersClient userClient = new UsersClient();

            if (mode == "add")
            {

                if (validUser(user))
                {
                    var timeStamp = System.DateTime.Now;

                    user.LastUpdate = timeStamp;
                    user.LastUpdatedBy = Convert.ToInt32(currentuser.FindFirst(c => c.Type == "Id").Value);
                    user.EmailConfirmed = false;
                    var tempPassord = security.GenerateRandomPassword();
                    user.Password = security.Hash(tempPassord);
                    user.PasswordExpires = DateTime.Now.AddDays(security.TempPasswordExpiresDays()); //TODO: this should be a setting
                    user.ConfirmationToken = security.GenerateConfirmationToken();
                    user.ConfirmationTokenExpires = DateTime.Now.AddMinutes(security.ConfirmationTokenExpiresMinutes());
                    user.ForcePasswordReset = true;
                    user.Locked = false;

                    var resp = userClient.PostUserAsync(user);

                    EmailObj email = new EmailObj();
                    email.to = user.EmailAddress;

                    var securedToken = security.EncryptTokenObject(user.EmailAddress, user.ConfirmationToken);

                    email.htmlContent = emailClient.GenerateEmailConfirmationRequest(user.FirstName, tempPassord, securedToken); // get host from settings?
                    email.subject = "New Open Trauma Registry Account";
                    await emailClient.SendAsync(email);

                    Toaster.Add("User Added Successfully!  A temporary password has been sent to the email specified.", MatToastType.Success, "Success", null, null);

                }
            }
            else
            {
                var msg = $"There was a problem adding user {user.EmailAddress}.  Please ensure the email address is in a valid format and unique to this system.";
                Toaster.Add(msg, MatToastType.Danger, "Error", null, null);
            }
        }
        catch (Exception ex)
        {
            Toaster.Add(ex.ToString(), MatToastType.Danger, "Error", null, null);
        }
    }

    private bool validUser(_dtoUser user)
    {
        return true; // TODO:
    }

    private async Task validateForm()
    {
        await saveUser();
    }
}
